-
  var appId = '';
  var title = '';
  var description = 'description';
  var ogp = {
    url: '',
    image: '',
    type: 'website',
    siteName: ''
  };


block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover')

    title #{title}
    meta(name='description', content=description)
    meta(property='og:title', content=title)
    meta(property='og:description', content=description)
    meta(property='og:url', content=ogp.url)
    meta(property='og:image', content=ogp.image)
    meta(property='og:type', content=ogp.type)
    meta(property='og:site_name', content=ogp.siteName)
    style.
      [alt="www.000webhost.com"]{display:none;}


    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='./main.css')

  body(id=appId)
    .scroll-page(data-scroll-container='')
      block content
    script(src='./js/main.js')
